*{
    margin:0;
    padding:0;
}

body {
    background-color: #a6bcbd;
    /* opacity: 70%; */
}

#header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 100px;
}

/* home page */
#homeL {
    margin-bottom: 50px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#homeL:hover {
    color: red;
}
.transition-fade{
    opacity: 1;
    transition: 300ms;
}
html.is-animating .transition-fade {
    opacity: 0;
}

/* gametransition */
.transition-fade .transition p{
    text-align:center;

    font-size: 50px;
}
.transition-fade .transition{
    text-align:center;

}


/* game page */
#return {
    text-align:left;
    float:left;
    text-decoration: none;
    font-size: 30px;
    /* font-family: 'Courier New', Courier, monospace; */
}
#return:hover{
    text-decoration: none;
    color:red;
}
#display {
    text-align:right;
    float:right;
    font-size: 30px;
}

/* game transition */
/* nvm this might be completely useless */

/* maze pretti */